@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Quicksand:wght@300..700&family=Special+Elite&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e7e4e4;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: transparent;
  color: white;
  padding: 10px 85px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.navbar.navbar-visible {
  background-color: white;
  color: #534e4e;
}
.navbar.navbar-visible ul li a{
  color: #575454;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
}
.logo img {
  height: 55px; /* Adjust based on your logo size */
  width: auto; /* Maintain aspect ratio */
}
.navbar nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  display: inline;
  font-optical-sizing: auto;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.5s ease-in-out;
  font-weight: 600;
}

.navbar nav ul li a:hover {
  color: rgb(13, 111, 223);
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: -100px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-inner button{
  padding: 20px 20px 20px 0;
  width: 250px;
  align-self: center;
  background-color: rgb(8, 69, 209);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;
  border: none;
  margin-left: 20px;
  margin-top: 50px;
  letter-spacing: 2px;
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  animation: slideUp 3.5s ease-out forwards;
}

.carousel-inner button:hover{
  background-color: rgb(10, 72, 10);
}

.carousel-inner button.clicked .discover{
  transition: transform 0.5s ease;
  transform: rotate(360deg);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.close-menu{
  display: none;
}

.carousel-item {
  flex: 0 0 100%;
  position: relative;
  transform: scale(0.5);
  opacity: 0.5;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-item.active {
  transform: scale(1);
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: 1100px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 250px;
  left: 300px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.carousel h1{
  position: absolute;
  margin-top: 60px;
  color: rgb(77, 160, 255);
  margin-left: 300px;
  font-family: "Kaushan Script", cursive;
  font-size: 43px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  animation: slideUp 1.5s ease-out forwards;
}

.carousel h3{
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  animation: slideUp 2s ease-out forwards;
}
.carousel h2{
  font-size: 100px;
  margin-top: -110px;
  font-family: 'Montserrat', sans-serif;
  animation: slideUp 2.5s ease-out forwards;
}
.carousel p{
  font-size: 30px;
  margin-top: -50px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  letter-spacing: 2px;
  line-height: 70px;
  animation: slideUp 3s ease-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(1000px);
    behavior: smooth;
  }
  100% {
    opacity: 1;;
    transform: translateY(0);
    behavior: smooth;
  }
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: none;
  outline: none;
}

.carousel-button:hover{
  background-color: rgb(8, 69, 209);
}

.box-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
  margin-top: 100px;
}

.box {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  height: 85px;
  width: 320px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 8px rgb(140, 135, 135);
  border-radius: 8px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.box h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.box-caption{
  margin-top: -8px;
}
.box h3{
  margin-top: -20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.box:hover {
  transform: translateY(-10px);
  background-color: #171616;
  color: white;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}
.box:hover .icon{
  color: rgb(77, 160, 255);
}

#second-carousel{
  background: url(./images/testimonial.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
  text-align: center;
  height: 800px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

#second-carousel h4{
  font-weight: 300;
  font-size: 20px;
  padding-top: 80px;
}

#second-carousel h3{
  font-size: 47px;
  margin-top: -10px;
}

.carousel-boxes {
  display: flex;
  justify-content: center;
  height: 520px;
}

.carousel-box {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 40px;
  margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 450px;
  text-align: left;
  margin-bottom: 100px;
  cursor: pointer;
}

.carousel-box h4 {
  color: #333;
}

.carousel-box p {
  color: rgb(8, 69, 209);
  font-size: 18px;
  font-weight: 600;
  padding-top: 30px;
  letter-spacing: 1px;
}

.carousel-buttons.bottom-center {
  justify-content: center;
}
.carousel-buttons.bottom-center button{
  background-color: transparent;
  border: none;
  color: #575454;
  transition: 0.3s ease-in-out;
  margin-top: 700px;
}
.carousel-buttons.bottom-center button:hover{
  color: rgb(8, 69, 209);
}

.testimonial{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.testimonial img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}


.testimony{
  font-size: 18px !important;
  font-weight: 300 !important;
  color: #333 !important;
  line-height: 25px !important;
}

.testimonial h4{
  color: rgb(8, 69, 209);
  font-size: 18px;
  margin-top: -65px;
}

.testimonial h3{
  color: #171616;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px !important;
}

.footer{
  margin-top: 100px;
  height: 1000px;
  overflow-x: hidden !important;
  background: url(./images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.contact{
  display: flex;
  gap: 80px;
  width: 60vw;
  background-color: transparent;
  margin-top: 80px;
  padding: 50px;
  text-align: left;
  line-height: 55px;
  padding: 50px;
}

.contact h1{
  font-size: 45px;
}

.contact input{
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  width: 450px;
  padding: 20px;
  height: 50px;
  font-size: 18px;
  outline: none;
}

.contact input::placeholder{
  color: white;
}

.mailing{
  display: flex;
  margin-top: 20px;
}
.mailing .icon{
  margin-top: 30px;
  margin-left: -50px;
}

.social-media{
  display: flex;
  gap: 100px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  justify-content: center;
  margin-top: 100px;
}
.social-media h1{
  font-size: 35px;
}

.social-media h2{
  font-size: 30px;
}

.social-media p{
  font-size: 20px;
}

.social-icons{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons .media{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: black;
  color: white;
  align-self: center;
  align-items: center !important;
  transition: 0.3s ease-in-out;
}

.social-icons .media:hover{
  background-color: transparent;
  color: rgb(8, 69, 209);
}

.social-icons .media .icon{
  margin-top: 20px;
}

.copyright{
  height: 200px;
  width: 100%;
  background-color: transparent;
  border-top: 1.5px solid white;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 72px;
  align-items: center;
}

.copyright p{
  margin-top: 50px;
  font-size: 20px;
}

.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: rgb(8, 69, 209);
  color: #fff;
  border: none;
  padding: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #555;
}

/* Responsive styles */
@media (max-width: 1080px) {
  body{
    overflow-x: hidden;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    left: -100%; /* Hidden off-screen initially */
    height: 100vh;
    background-color: #333;
    overflow: hidden !important;
    position: fixed;
    top: 0;
    padding: 10px 0;
    transition: 0.5s ease-in-out;
  }

  .nav-links.open {
    display: flex;
    left: 0;
  }

  .nav-links ul {
    flex-direction: column;
    padding-top: 50px 0;
  }

  .nav-links ul li {
    margin: 10px 20px;
  }

  .hamburger {
    display: block;
  }
  .close-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }

  .carousel-caption{
    margin-bottom: 100px;
  }
  .carousel-caption h1{
    margin-left: 0px;
    margin-top: -5px;
    font-size: 25px;
  }
  .carousel-caption h3{
    font-size: 40px;
  }
  .carousel-caption h2{
    font-size: 40px;
    padding-top: 70px;
  }
  .carousel-caption p{
    margin-top: 20px;
  }

  .box-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1500px;
    margin-top: -100px;
    overflow-x: hidden;
  }

  .carousel-box{
    width: 800px;
    margin-top: -20px;
  }
  .testimonial{
    justify-content: left;
  }
  #second-carousel{
    width: 100vw !important;
    height: 1800px;
  }

  .carousel-buttons.bottom-center button{
    margin-top: 1700px;
  }
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
}

@media (max-width: 450px){
  .carousel-caption{
    margin-left: -20px;
  }
  .navbar nav ul{
    gap: 80px;
  }
  .carousel-box{
    width: 380px;
    padding: 40px;
  }
}